@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:500,700,600,400");

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", Helvetica;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  background: #fffbf8;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

header {
  background-color: #fff;
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 46px;
  width: 225px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.nav-icon {
  display: none;
}

.get-started-container {
  display: flex;
}

.get-started {
  margin-left: auto;
  background-color: #fff;
  color: #ff8502;
  border: 1px solid #ff8502;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  line-height: 25px;
  font-size: 16px;
  text-decoration: none;
}

.hero,
.blog-title-section {
  text-align: center;
  position: relative;
  display: flex;
}

.hero-img {
  width: 100%;
  height: auto;
}

.hero-text {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 65px;
  margin: 0;
  padding: 40px 0 28px 0;
}

.hero .highlight {
  color: #ff8502;
}

.learn-more {
  background-color: #ff8502;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 32px;
  font-size: 20px;
  text-decoration: none;
}

.clients {
  background-color: #163152;
  padding: 16px 0 16px 0;
  text-align: center;
  color: #fff;
}

.clients .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients h3 {
  font-weight: lighter;
}

.client-logos {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}

.client-logos img {
  max-height: 50px;
}

.about {
  padding: 50px 0 0 0;
  position: relative;
}

.about-container {
  display: flex;
  gap: 32px;
}

.about-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
}

.about-img-container {
  display: flex;
  align-items: center;
  width: 50%;
}

.about-img-container img {
  width: 100%;
}

.about-stats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 32px;
}

.about-stats h3 {
  font-size: 2.5em;
  margin: 16px 0;
  color: #ff8502;
}

.person-sitting {
  position: relative;
  height: 200px;
}

.person-img {
  position: absolute;
  top: 17%;
  left: 19%;
  z-index: 100;
}

.services {
  background-color: #163152;
  color: #fff;
  padding: 85px 0 120px 0;
  position: relative;
  display: flex;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 128px;
  row-gap: 32px;
}

.services-container h1 {
  text-align: center;
}

.service-item {
  color: #fff;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service-item h3 {
  color: #ff8502;
}

.service-item:nth-child(odd) {
  margin-left: 0;
}

.service-item:nth-child(even) {
  margin-left: auto;
}

.service-item img {
  max-height: 190px;
  max-width: 190px;
}

.process-top-curve {
  width: 100%;
}

.process {
  position: relative;
  padding: 50px 0 0 0;
  background: #eaf4ff;
  display: flex;
}

.process-curve-container {
  display: flex;
  background: #163152;
  position: absolute;
  width: 100%;
  top: -50px;
}

.process-container {
  position: relative;
}

.process-steps {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.process-step {
  /* width: 22%; */
  flex: 0 0 40%;
}

.process-step-count {
  margin-right: 5px;
}

.process-step-1 {
  color: #ffb300;
}

.process-step-2 {
  color: #57c6d4;
}

.process-step-3 {
  color: #f27584;
}

.process-step-4 {
  color: #90cc8e;
}

.process-step:nth-child(even) {
  /* margin-top: 32px; */
}

.process-img-container {
  display: flex;
  margin-top: 42px;
  width: 100%;
}

.process-img-container img {
  margin-left: auto;
  width: 100%;
}

.case-studies {
  background-color: #fffbf8;
  padding: 50px 0 50px 0;
}

.case-studies-container > h1 {
  text-align: center;
}

.case-studies-list {
  display: flex;
  flex-direction: column;
}

.case-study {
  display: flex;
  margin: 20px 0;
  padding: 20px;
  gap: 48px;
}

.case-study-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.case-study-content.odd {
  margin-left: auto;
}

.case-study-content.even {
  margin-left: 0;
}

.case-study-content h5 {
  font-size: 16px;
  font-weight: 400;
  color: #ff5f00;
  margin: 0;
  text-align: start;
}

.case-study-content h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.case-study-content p {
  margin-bottom: 48px;
  margin: 0;
  text-align: start;
}

.case-study-content-link-container {
  width: 100%;
  display: flex;
  justify-content: start;
}

.case-study-content a {
  background: #ff8502;
  padding: 12px 16px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  display: inline-block;
  width: fit-content;
}

.case-study img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: contain;
  object-position: center;
}

.crousel-img {
  width: 200px;
}

.carousel h1 {
  position: absolute;
  left: 30px;
}

.case-study button {
  background-color: #ff8502;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.team {
  padding: 100px 0 0 0;
  background: #eaf4ff;
  position: relative;
}

.team h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.leadership {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leadership-curve-img {
  width: 100%;
}

.who-we-are {
  background: url("assets/images/clouds.svg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aeroplane-team {
  position: absolute;
  right: 60%;
  top: 11%;
}

.who-we-are-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.who-we-are-content h1 {
  margin: 5px 0 5px 0;
}

.who-we-are-content p {
  width: 35%;
}

.who-we-are-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-members {
  display: flex;
  margin-top: 48px;
  gap: 136px;
}

.team-member-img {
  width: 328px;
  height: 309px;
  margin-bottom: 10px;
}

.member-detail {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.member-detail-1 {
  margin: 0 30px 0 42px;
}

.member-detail-2 {
  margin: 0 47px 0px 35px;
}

.member-name h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.member-name p {
  font-size: 16px;
  color: #666;
  font-weight: 400;
  margin: 0;
}

.member-social img {
  width: 20px;
  height: 20px;
}

.contact {
  padding: 0 0 50px 0;
  text-align: center;
  background-color: #fffbf8;
}

.contact-form-container {
  display: flex;
  justify-content: center;
}

.contact-form-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 550px;
}

.contact-form-input-container {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 6px #5c688014, 0 12px 20px #5c688014;
  max-width: 550px;
}

.contact-plane {
  align-self: center;
  margin-bottom: 75px;
}

.contact-man {
  align-self: flex-end;
}

.contact-description {
  margin-top: -10px;
  font-size: 16px;
  color: #666;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 80px 75px 80px;
  position: relative;
  z-index: 100;
}

.contact form select {
  width: 108%;
  padding: 16px;
  padding-right: 44px; /* Already there to reserve space for icon */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  color: #b0b0af;
  appearance: none; /* Remove default arrow */
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23b0b0af" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 16px center; /* control the icon padding */
  background-size: 18px;
  background-color: white;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  color: #b0b0af;
}

.contact form textarea {
  height: 168px;
  resize: none;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  color: #b0b0af;
}

.contact form button {
  background-color: #ff8502;
  color: #fff;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  width: 134px;
}

.contact .success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.footer-bg-container {
  display: flex;
  justify-content: center;
  margin-bottom: -2px;
  padding-top: 50px;
}

.footer-bg-container img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #163152;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-logo {
  margin-top: 36px;
}

.footer-logo img {
  height: 50px;
  margin-bottom: 20px;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
}

.footer-nav li {
  margin: 0 15px;
}

.footer-nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.social-media a {
  margin: 0 10px;
  display: inline-block;
}

.social-media img {
  height: 24px;
  width: 24px;
}

footer p {
  margin-top: 20px;
  font-size: 14px;
}

.scroll-top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #ff8502;
  color: #fff;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1000;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  &:hover {
    background-color: #ff5f00;
  }
}

.scroll-top img {
  width: 20px;
  height: 20px;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 700px;
  width: 90%;
  height: 60%;
  max-height: 450px;
  position: relative;
  animation: fadeIn 0.5s ease-in-out;
}

.banner-modal-title {
  color: #21a69b;
  font-size: 32px;
  margin-bottom: 0px;
}
.banner-modal-desc {
  color: var(--Gray-900, #19191a);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  letter-spacing: var(--Static-Display-Large-Tracking, -0.25px);
}

.banner-modal-from-text {
  font-weight: 500;
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: 30px;
  color: var(--Gray-900, #19191a);
}

.banner-modal-create-now {
  background-color: #21a69b;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}

.banner-modal-create-now {
  background-color: #21a69b;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}

.banner-modal-create-now:hover {
  background-color: #1b8e84;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner-modal-click {
  position: absolute;
  right: -20px;
  bottom: -30px;
  width: 2rem;
  height: auto;
  animation: pointToButton 2s infinite alternate ease-in-out;
  transform-origin: bottom right;
  pointer-events: none;
  z-index: 20;
}

@keyframes pointToButton {
  0% {
    transform: translate(15px, 15px) rotate(-15deg);
    opacity: 0.7;
  }
  100% {
    transform: translate(-10px, -10px) rotate(5deg);
    opacity: 1;
  }
}

/* Optional: Add a pulsing effect on hover */
.banner-modal-create-now:hover + .banner-modal-click {
  animation: pointToButton 1s infinite alternate ease-in-out,
    pulse 0.5s infinite alternate;
}

@keyframes pulse {
  to {
    transform: translate(-10px, -10px) rotate(5deg) scale(1.2);
  }
}

.ramrolink-banner-right-desktop {
  position: absolute;
  right: 20%;
  bottom: 15%;
  z-index: 20;
  width: 17rem;
  height: auto;
}

.ramrolink-banner-right-socials {
  position: absolute;
  right: 20px;
  z-index: 10;
  bottom: 5%;
  width: 15rem;
  height: auto;
}

.close-button {
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.top-arrow {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 30px;
}

.ramrolink-logo {
  position: absolute;
  right: 40px;
  top: 20px;
  size: 50px;
  height: 28px;
}

.modal-button-wrapper {
  position: relative;
  width: fit-content;
  margin-left: 20px;
}

.announcement-banner {
  background-color: #28c6b9;
  color: #ffffff;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;

  /* Med/Med20 */
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: relative;
}

.announcement-banner p {
  margin: 0;
}

.banner-link {
  color: #fff;
  margin-left: 6px;
  /* Semi20 */
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.banner-link:hover {
  color: #fff;
  scale: 1.02;
}

.close-banner {
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  padding-left: 15px;
  line-height: 1;
  position: absolute;
  right: 10%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* crousel */

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.case-study {
  min-width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.case-study img {
  max-width: 450px;
  height: auto;
}

.case-study-content {
  margin-top: 0rem;
  width: 45%;
  /* height: 100%; */
  /* background-color: #1b8e84; */
}
.carousel {
  position: relative;
  width: 100%;
  text-align: center;
}

.carousel-image-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.carousel-image-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image-track img {
  min-width: 100%;
  height: 300px;
  padding-left: 20px;
}

.carousel-text {
  margin-top: 2rem;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* .carousel-text.fade-out {
  opacity: 0;
} */

.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  position: absolute;
  bottom: 20px;
  left: 50px;
  padding: 8px;
  border-radius: 80px;
  background-color: #d5dae2;
}

.carousel-btn {
  background-color: #b0b9c9;
  border: none;
  font-size: 1.5rem;
  margin: 0 0.3rem;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 100%;
  transition: background 0.3s ease;
}

.carousel-btn:hover {
  background-color: #ff8502;
}

.carousel-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 1600px) {
  .hero h1 {
    padding: 0;
  }
}

@media screen and (max-width: 1260px) {
  .hero h1 {
    font-size: 48px;
  }
  .primary-blog-container {
    flex-direction: column;
  }
  .get-started {
    font-size: 14px;
    padding: 6px 12px;
  }
  .container {
    width: 90%;
  }

  .ramrolink-banner-right-desktop {
    width: 16rem;
    right: 16%;
  }

  .ramrolink-banner-right-socials {
    z-index: 10;
    width: 11rem;
    height: auto;
    bottom: 16%;
    right: 5%;
  }
}

@media screen and (max-width: 1060px) {
  .hero h1 {
    font-size: 32px;
  }
  .container {
    width: 95%;
  }
  .blog-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 85%;
  }

  .contact-description {
    margin-top: 0px;
  }

  nav {
    display: none;
  }

  .main-nav.responsive {
    display: flex;
    position: absolute;
    z-index: 10000;
    top: 90px;
    left: 0;
    width: 100%;
  }

  .main-nav.responsive ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #163152;
  }

  .main-nav.responsive ul li {
    margin: 0;
    display: flex;
  }

  .main-nav.responsive ul li:not(:last-child) {
    border-bottom: 1px solid #1b3c65;
  }

  .main-nav.responsive ul li a {
    color: #fff;
    padding: 20px;
    flex: 1;
  }

  .nav-icon {
    display: flex;
    color: #163152;
    text-decoration: none;
  }

  .nav-icon i {
    font-size: 24px;
  }

  .get-started-container {
    width: none;
  }

  .hero h1 {
    font-size: 28px;
    padding: 0;
  }

  .learn-more {
    padding: 6px 15px;
    margin-top: 12px;
    font-size: 12px;
  }

  .clients .container {
    flex-direction: column;
  }

  .client-logos {
    flex-direction: column;
    justify-content: normal;
    gap: 16px;
    width: 100%;
  }

  .about-container {
    flex-direction: column;
    justify-content: normal;
  }

  .about-content {
    width: 100%;
  }

  .services-list {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .service-item {
    flex-direction: column;
    text-align: center;
  }

  .process-steps {
    gap: 0;
    flex-direction: column;
  }

  .process-step {
    width: 100%;
  }

  .process-step:nth-child(even) {
    margin-top: 0;
  }

  .process-img-container img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .case-study {
    flex-direction: column;
    padding: 0;
  }

  .case-study img {
    max-width: 500px;
  }

  .case-study:nth-child(even) {
    flex-direction: column-reverse;
  }

  .who-we-are-content p {
    width: 100%;
  }

  .aeroplane-team {
    position: static;
  }

  .team-members {
    gap: 0;
    flex-direction: column;
  }

  .contact-plane {
    display: none;
  }

  .contact-man {
    display: none;
  }

  .contact form {
    padding: 32px;
    max-width: none;
  }

  .about,
  .process,
  .case-studies,
  .team {
    padding: 32px 0;
  }

  .section-title {
    font-size: 28px;
    margin: 8px 0;
  }

  p {
    font-size: 16px;
    margin: 8px 0;
  }

  .about-stats h3 {
    font-size: 2em;
    margin: 0;
  }

  .person-sitting {
    width: 170px;
  }

  .person-img {
    width: 90px;
    top: 40%;
  }

  .case-study-content h1 {
    font-size: 20px;
  }

  .primary-blog-container {
    padding: 16px;
    margin-top: 32px;
    gap: 24px;

    .primary-blog-content {
      gap: 8px;

      .primary-blog-title {
        font-size: 20px;
        line-height: 28px;
      }

      .primary-blog-description {
        font-size: 14px;
      }
    }
  }
  /* banner modal */
  .modal-content {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    height: 300px;
    position: relative;
    animation: fadeIn 0.5s ease-in-out;
  }

  .banner-modal-create-now {
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
  }

  .modal-button-wrapper {
    position: relative;
    width: fit-content;
    margin-left: 10px;
  }

  .ramrolink-banner-right-desktop {
    z-index: 20;
    width: 12rem;
    height: auto;
    bottom: 5%;
    right: 16%;
  }

  .ramrolink-banner-right-socials {
    z-index: 10;
    width: 8rem;
    height: auto;
    bottom: 6%;
    right: 20px;
  }
  .banner-modal-title {
    font-size: 24px;
    margin-top: 25px;
  }

  .banner-modal-desc {
    font-size: 16px;
  }

  .banner-modal-from-text {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .contact form select {
    width: 107%;
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    color: #b0b0af;
  }

  .close-banner {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    color: #ffffff;
    padding-left: 10px;
    line-height: 1;
  }
}

@media screen and (max-width: 600px) {
  .get-started-container {
    display: none;
  }

  .hero h1 {
    font-size: 20px;
    padding: 0;
  }

  .about-img-container {
    width: 100%;
  }

  .team-member-img {
    width: 100%;
    height: 100%;
  }

  .logo img {
    width: 150px;
  }

  .footer-logo img {
    width: 150px;
  }

  .case-study-content-link-container {
    justify-content: center;
  }

  p {
    font-size: 14px;
  }

  .blog-list {
    grid-template-columns: 1fr;
  }

  /* modal banner */

  .modal-content {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    height: 200px;
    position: relative;
    animation: fadeIn 0.5s ease-in-out;
  }

  .banner-modal-title {
    color: #21a69b;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 20px;
  }

  .banner-modal-desc {
    color: var(--Gray-900, #19191a);
    font-size: 12px;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
    max-width: 150px;
  }
  .banner-modal-from-text {
    font-weight: 500;
    font-size: 10px;
    margin-top: -6px;
    margin-bottom: 6px;
    color: var(--Gray-900, #19191a);
  }

  .banner-modal-create-now {
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
  }

  .modal-button-wrapper {
    position: relative;
    width: fit-content;
    margin-left: 10px;
  }

  .ramrolink-banner-right-desktop {
    z-index: 20;
    width: 10rem;
    height: auto;
    bottom: 5%;
    right: 16%;
  }

  .ramrolink-banner-right-socials {
    z-index: 10;
    width: 6rem;
    height: auto;
    bottom: 10%;
    right: 10px;
  }

  .top-arrow {
    height: 20px;
  }

  .ramrolink-logo {
    position: absolute;
    right: 40px;
    top: 10px;
    size: 50px;
    height: 20px;
  }

  .contact form select {
    width: 115%;
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    color: #b0b0af;
  }

  .close-banner {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    color: #ffffff;
    padding-left: 10px;
    line-height: 1;
  }
}
