.team-heading {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.team-desc {
  font-size: 1.15rem;
  margin-bottom: 20px;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 48px;
  font-weight: 400;
}

.team-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.card:hover {
  border-color: transparent;
  background-color: #ff8502;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-role {
  font-weight: 500;
}

.team-info {
  font-size: 16px;
  font-weight: 500;
  padding-right: 10px;
}

.team-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0 30px 0;
}

.grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}

.social-links {
  position: absolute;
  top: 10px;
  right: 10px;
}

.social-links a {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease;
}

.social-links a.github {
  background-image: url("../../assets/images/github.svg");
}

.social-links a.linkedin {
  background-image: url("../../assets/images/linkedin.svg");
}

.card:hover .social-links a.github {
  background-image: url("../../assets/images/github-white.svg");
}

.card:hover .social-links a.linkedin {
  background-image: url("../../assets/images/linkedin-white.svg");
}

@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
